html {
	font-family: 'Dosis', sans-serif;
	line-height: 1.5rem;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.beetle-l{
	float: left;
	width: 60px;
	padding: 0.5em 0em 0em 0em;
	border: 0;
}

.beetle-r{
	float: right;
	width: 60px;
	padding: 0.5em 0em 0em 0em;
	border: 0;
}

h1 {
	font-size: 3rem;
	color: #512200;
	margin: 0;
	padding: 0.5em 0em 0em 0em;
}

.masthead {
	background-image: url("../images/header-background.png");
	background-size: 300px auto;
	padding: 6em;
	background-repeat: repeat;
	background-position: left top;
	text-align: center;
	padding: 0;
}

nav li{
	float: left;
	width: 25%;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
}

nav a {
	display: block;
	color: #fff;
	font-size: 1rem;
	text-decoration: none;
	text-align: left;
	padding: 1em 1em 1em 1em;
	margin: 0;
	width: 100%;
}

nav {

	background-color: rgba(81,34,0,0.5);
	margin: 0;
	padding: 0;
}

ul li:hover {
	background-color: #512200;
	opacity: 0.75;
	margin: 0;
	padding: 0.5em;
}

.dirt {
	display: block;
	width: 100%;
}

.dirtwrap {
	position: relative;
		background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));

}

.percent {
	position: absolute;
	left: 0;
	bottom: 1em;
	color: white;
	font-size: 2em;
	text-align: center;
	width: 100%;

}

.ant {
	width: 50%;
	float: left;
	position: relative;
}

.nst {
	display: inline-block;
	padding: 0.5em 3em;
	text-decoration: none;
	border-radius: 20px;
	color: #fff;
	background-color: #a8ae98;
	background-image: linear-gradient(to bottom, #6fbf44, #388200)
}

.stag {
	width: 50%;
	float: right;
	position: relative;
}

.stg {
	display: inline-block;
	padding: 0.5em 3em;
	text-decoration: none;
	border-radius: 20px;
	color: #fff;
	background-color: #6fbf44;
	background-image: linear-gradient(to bottom, #6fbf44, #388200);
	position: absolute;
	box-shadow: 0.2px 2px rgba (00,0,1);
}

.dung {
	width: 50%;
	float: left;
}

.dng {
	display: inline-block;
	padding: 0.5em 3em;
	text-decoration: none;
	border-radius: 20px;
	color: #fff;
	background-color: #6fbf44;
	background-image: linear-gradient(to bottom, #6fbf44, #388200);
	box-shadow: 0.2px, 5px, rgba(0, 0, 0, 1);
}


.tortoise {
	width: 50%;
	float: right;
}

.trt {
	display: inline-block;
	padding: 0.5em 3em;
	text-decoration: none;
	border-radius: 20px;
	color: #fff;
	background-color: #6fbf44;
	background-image: linear-gradient(to bottom, #6fbf44, #388200);
}

footer {
	background-color: rgba(81, 34, 0, 0.5);
	background-position: center 5px;
	clear: both;
	text-align: center;
	padding: 1em;
}

.beetle-c {
width: 10%;
z-index: 1000em;
}
